@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $fg-map-keys: (),
  $bg-map-keys: (),
  $primary: #000000,
  $label: #353535
);
@use '../base.scss' with (
  $color-bg: rgb(14, 14, 7),
  $color-bg-grad-spread: 0%,
  $border-radius: 0
);

// A fat warning to anyone who wants to use this: this only half works.
// It was made almost purely for the nuke ui, and requires a good amount of manual hacks to get it working as intended.
.theme-plant_menu {
  .color-label {
    color: #353535 !important;
  }
  .Tab {
    color: rgba(0, 0, 0, 0.39) !important;
  }
  .Tab--selected {
    color: black !important;
  }
  // Components
  @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': #e8e4c9,
      'color-disabled': #505046,
      'color-selected': #9d0808,
      'color-caution': #be6209,
      'color-danger': #9a9d00
    )
  );
  @include meta.load-css('../components/ProgressBar.scss', $with: ('background-color': rgba(0, 0, 0, 0.5)));
  @include meta.load-css('../components/Section.scss');

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css('../layouts/TitleBar.scss', $with: ('background-color': #858542));

  @keyframes command_line {
    100% {
      color: #ffff77;
    }
    50% {
      color: #ffff77;
    }
    49% {
      color: #ff000000;
    }
    0% {
      color: #ff000000;
    }
  }

  @keyframes spin {
    100% {
      rotate: 360deg;
    }
    0% {
      rotate: 0deg;
    }
  }

  .plant__button {
    white-space: wrap;
    font-family: monospace;
    color: #ffff77;
    border-image: repeating-linear-gradient(
      45deg,
      rgb(49, 49, 25),
      rgb(49, 49, 25) 4px,
      rgb(28, 28, 14) 4px,
      rgb(28, 28, 14) 8px
    );
    border-image-slice: 1 fill;
    border-image-width: auto;
    border-image-repeat: repeat repeat;
    outline: 2px solid;
    outline-color: rgb(133, 133, 66);
    margin: 0px;
    border-radius: 0;
    &:hover {
      color: #ffff77;
      outline-color: #ffff77;
      z-index: 3;
    }
    &.Button--selected {
      color: #ffff77;
      outline-color: #ffff77;
      z-index: 3;
    }
    &.Button--disabled {
      color: rgb(49, 49, 25);
      outline-color: rgb(133, 133, 66);
      z-index: 1;
    }
  }

  .plant__button--beacon {
    white-space: wrap;
    font-family: monospace;
    color: #ffff77;
    border-image: repeating-linear-gradient(
      45deg,
      rgb(49, 49, 25),
      rgb(49, 49, 25) 4px,
      rgb(28, 28, 14) 4px,
      rgb(28, 28, 14) 8px
    );
    border-image-slice: 1 fill;
    border-image-width: auto;
    border-image-repeat: repeat repeat;
    outline: 2px solid;
    outline-color: rgb(133, 133, 66);
    margin: 0px;
    border-radius: 0;
    z-index: 2;
    &:hover {
      color: #ffff77;
      outline-color: #ffff77;
    }
    &.Button--selected {
      color: #ffff77;
      outline-color: #ffff77;
    }
    &.Button--disabled {
      color: rgb(49, 49, 25);
      outline-color: rgb(133, 133, 66);
      z-index: 1;
    }
  }

  .plant__button--display {
    pointer-events: none;
    white-space: wrap;
    font-family: monospace;
    color: #ffff77;
    border-image: repeating-linear-gradient(
      45deg,
      rgb(49, 49, 25),
      rgb(49, 49, 25) 4px,
      rgb(28, 28, 14) 4px,
      rgb(28, 28, 14) 8px
    );
    border-image-slice: 1 fill;
    border-image-width: auto;
    border-image-repeat: repeat repeat;
    outline: 2px solid;
    outline-color: rgb(133, 133, 66);
    margin: 0px;
    border-radius: 0;
  }

  .plant__button--display--beacon {
    pointer-events: none;
    white-space: wrap;
    font-family: monospace;
    color: #ffff77;
    border-image: repeating-linear-gradient(
      45deg,
      rgb(49, 49, 25),
      rgb(49, 49, 25) 4px,
      rgb(28, 28, 14) 4px,
      rgb(28, 28, 14) 8px
    );
    border-image-slice: 1 fill;
    border-image-width: auto;
    border-image-repeat: repeat repeat;
    outline: 2px solid;
    outline-color: rgb(133, 133, 66);
    margin: 0px;
    border-radius: 0;
    z-index: 2;
  }

  .Section {
    font-family: monospace;
    background: #000000;
    outline: base.em(2px) solid #858542;
    color: #ffff77;
    position: relative;
    margin: 1px;
  }
  .Section::after {
    display: inline-block;
    content: ' ';
    mix-blend-mode: normal;
    opacity: 0.1;
    mix-blend-mode: lighten;
    background-image: repeating-linear-gradient(
      0deg,
      rgb(255, 255, 25),
      rgb(255, 255, 25) 1px,
      rgb(28, 28, 14) 1px,
      rgb(28, 28, 14) 2px
    );
    position: absolute;
    inset-inline-start: 0px;
    inset-block-start: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 4;
  }

  .Input {
    color: #ffff77;
    border-color: #ffff77;
  }

  .terminal {
    animation-name: command_line;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .Dimmer--super {
    z-index: 5;
  }

  .spinner {
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .scrollbox {
    margin: -2px;
    padding: 2px;
  }

  .discrete {
    margin: 0;
    padding: 0;
  }

  .Layout__content {
    background-image: none;
  }
}
